# Yarn
# From https://stackoverflow.com/a/60184331
/.pnp.*
/.yarn/*
/.yarn/install-state.gz
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build output
/node_modules/
dist/
dist-ssr
*.local

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippetss

# IntelliJ
.idea

# Annoying files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp files
/.tscache/
/*.tmp.*
/.eslintcache
/*.log
/*.tsbuildinfo

# Locally linked dependencies
# See https://www.npmjs.com/package/link
/link.config.json

# Jest
/coverage/
