.table {
    border-collapse: collapse;

    &, th, td {
        border: 1px solid;
        padding: 8px;
    }
}

.cell-Y {
    background-color: greenyellow;
}

.cell-N {
    background-color: lightcoral;
}
