.table {
    width: 100%;
    border-collapse: collapse;

    .headCell {
        padding: 8px 16px;
    }

    .dataCell {
        border: 1px solid;
        padding: 8px 16px;
    }

    .toggleInput {
        display: block;
    }

    .cellY {
        background-color: blue;
        color: white;
    }
    
    .cellN {
        background-color: #DDDDDD;
        color: #666666;
    }    
}
