.table {
    border-collapse: collapse;

    &, th, td {
        border: 1px solid;
        padding: 8px;
    }
}

.cell-Y {
    background-color: blue;
    color: white;
}

.cell-N {
    background-color: #DDDDDD;
    color: #666666;
}
