.clue {
	font-family: Futura, Helvetica, sans-serif;
	box-sizing: border-box;

	width: 100%;
	height: 100%;

	display: flex;

	.panel {
		padding: .5rem;
		border: solid 1px;
	}

	.game-setup {
		flex: 1;
		display: flex;
		flex-direction: column;
	
		.players {
			flex: 1;
		}
	
		.cards {
			flex: 2;
		}
	}

	.checklist {
		flex: 3;
	
		.hi, table {
			border-collapse: collapse;
			width: 100%;
		}
	
		.hi, td {
			border: 1px solid;
		}
	}
	
	.guesses {
		flex: 2;
	}
	
}
