.clue {
    width: 100%;
    height: 100%;

    display: flex;

    .gameObjects {
        flex: 0 0 auto;
        height: 100%;
    }

    .checklist {
        flex: 3 3 auto;
        height: 100%;
    }

    .suggestions {
        flex: 1 1 auto;
        height: 100%;
    }
}
